<!DOCTYPE html>
<html>
	<head>
		<title>Questions</title>
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>
	
	<body>
		<div class="container-fluid h-100">
			
				<b><u>These are topic that bot knows. You may ask questions around these topics in your own phrases.
				For example, "How to do w9 certification?". Although there is no such pre-defined question in bot’s vacillatory still bot is intelligent enough to understand what you want to ask. </u></b>
				<div id="faq_display" class="col-md-4 col-xl-3 chat faq_display"><div class="card mb-sm-3 mb-md-0 contacts_card">
				<div class="card-body contacts_body" id="faqList">
						
					</div>
					
				</div></div>
				
				
			
		</div>
	<script src="/static/questions.js"></script>
	</body>
</html>
